<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Todo List</title>
</head>
<body>
<h1>ToDos for today:</h1>
<div>
  <u1>
    <li>ToDo1</li>
    <li>ToDo2</li>
    <li>ToDo3</li>
    <li>ToDo4</a></li>
  </u1>
</div>
<br>
<table>
  <tr>
    <th>id</th>
    <th>title</th>
    <th>urgent</th>
    <th>done</th>
  </tr>
  <tr th:each="todo : ${todos}" th:object="${todo}">
    <td th:text="${todo.id}" ></td>
    <td th:text="${todo.title}"></td>
    <td th:text="${todo.isUrgent()}"></td>
    <td th:text="${todo.isDone()}"></td>
  </tr>
</table>

</body>
</html>