a{
    color: inherit;
    text-decoration: none;
}

header{
    background-color: #333333;
    padding: 10px;
}

nav{
    color: #ff0099;
    text-align: right;
    vertical-align: 50%;
    word-spacing: 25px;

}

h1{
    font-size: 50px;
}
html{
    background-image: url(topography.png);

}

p{
    letter-spacing: 2px;
    font-size: 25px;
}
h2 {
    color: #ff0099;
    font-size: 30px;
}

#wiki {
    text-align: center;

}

body {
    margin: 0px;

}

#szoveg{
    margin: 100px;
    
}

#vonalka{
    text-align: center;
}

#fejlec{
    vertical-align: 20px;
}

img{
    vertical-align: middle;

}