#list1 {
  border: lightslategrey 2px solid;
  width: 900px;
  margin: 10px 0;

}

#list2 {
  border: lightslategrey 2px solid;
  width: 900px;
}

button {
  font-size: 20px;
}

#content {
  border: lightslategray 2px solid;
  width: 900px;
}

#title {
  border: lightslategray 2px solid;
}

header {
  background-color: lightslategray;
  font-size: 25px;
  padding: 12px;
  width: 2000px;
  margin: 0px;
}

#vastag2 {
  font-size: 25px;
}

#vastag1 {
  font-size: 25px;
}
