<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fox Main</title>
</head>
<body>
<header>
    <u1>
        <li><a th:href="@{'/?name=' + ${name}}">Information</a></li>
        <li><a th:href="@{'/nutritionStore/?name=' + ${name}}">Nutrition Store</a></li>
        <li><a th:href="@{'/trickCenter/?name' + ${name}}">Trick Center</a></li>
        <li><a href="/login">Action history</a></li>
    </u1>
    <p></p>
    <div>
        <img src="greenfox.png" alt="fox img">
    </div>
</header>
<p></p>
<main>
    <div>
        <h2>This is
            <span th:text="${name}"></span> . Currently living on
            <span th:text="${selectedFox.getFood()}"></span> and <span th:text="${selectedFox.getDrink()}"></span>.
            I don't know yet how many tricks he/she knows:(
        </h2>
        <h2> Known tricks </h2>
        <ul>
            <li>Trick1</li>
            <li>Trick2</li>
            <li>Trick3</li>
        </ul>
    </div>
</main>
</body>
</html>