<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login page</title>
</head>
<body>
<h1>Welcome to Programmer Fox Club!</h1>
<main>
  <form th:action="@{'/login'}" th:method="post">
    <label for="name">Please provide a name, so you can associate it to your pet!</label>
    <div class="login-area">
      <input type="text" id="name" name="name" placeholder="...something like Karak">
      <input type="submit" value="GO">
    </div>
  </form>
</main>
</body>
</html>