<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Index Page</title>
</head>
<body>
<header>
  <nav>
    <ul>
      <li> <a th:href="@{'/reddit/submit/?name=' + ${name}}">Submit new post</a></li>
    </ul>
  </nav>
  </header>
<style>

  li {
    font-size: 25px;
    color: aqua;
  }

  table, tr, th, td {
    border: 1px solid black;
  }

  table {
    border-collapse: collapse;
    text-align: center;
    background-color: rgba(7,238,232,0.95);

  }
</style>

<h1>Trending posts</h1>

<table>
  <tr>
    <th>Actual votes</th>
    <th>Vote up</th>
    <th>Vote down</th>
    <th>Tite</th>
    <th>Date</th>
    <th>User</th>
  </tr>
  <tbody>
  <tr th:each="post : ${posts}" th:object="${post}">
    <td th:text="${post.numberOfVotes}"></td>
    <td> <a th:href="@{'/reddit/vote/?vote=up&id=' + ${post.id}}">+</a></td>
    <td> <a th:href="@{'/reddit/vote/?vote=down&id=' + ${post.id}}">-</a></td>
    <td> <a th:href="${post.url}" target="_blank" th:text="${post.title}"></a></td>
    <td th:text="${post.date}"></td>
    <td th:text="${post.user != null} ? ${post.user.userName} : 'no user' "></td>
  </tr>
  </tbody>
</table>
</body>
</html>